/* ================================
         fullPage.css
================================ */
html.fp-enabled, .fp-enabled body {
    margin: 0; padding: 0; overflow:hidden;}
.fp-section {
    position: relative; box-sizing: border-box;}
.fp-slide {
    float: left; height: 100%; display: block;}
.fp-slides {
    z-index:1; position: relative;
    height: 100%; overflow: hidden;
    transition: all 0.3s ease-out;}
.fp-section.fp-table, .fp-slide.fp-table {
    display: table; table-layout:fixed; width: 100%;}
.fp-tableCell {
    display: table-cell; vertical-align: top;
    width: 100%; height: 100%;}
.fp-slidesContainer {
    float: left; position: relative;}

/* 슬라이드 화살표 */
.fp-controlArrow {
    position: absolute; z-index: 4; top: 50%;
    cursor: pointer; width: 0; height: 0;
    border-style: solid; margin-top: -38px;
    transform: translate3d(0,0,0); transform: scale(0.5);}
.fp-controlArrow.fp-prev {
    left: 15px; width: 0;
    border-width: 38.5px 34px 38.5px;
    border-color: transparent #fff transparent transparent;}
.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #fff;}

/* 스크롤 바 */
.fp-scrollable {
    overflow: hidden; position: relative;}
.fp-scroller{
    overflow: hidden;}
.iScrollIndicator{
    border: 0 !important;}

.fp-notransition {
    transition: none !important;}
#fp-nav {
    position: fixed; z-index: 100; top: 50%; left: 115px;
    margin-top: -32px; opacity: 1;}
#fp-nav ul {
    margin: 0; padding: 0; }
#fp-nav ul li {
    display: block; position:relative;
    width: 14px; height: 13px; margin: 7px;}
#fp-nav ul li a {
    display: block; position: relative; z-index: 1;
    width: 100%; height: 100%;
    cursor: pointer;}
#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span {
    height: 12px; width: 12px; margin: -6px 0 0 -6px;
    border-radius: 100%;}
#fp-nav ul li a span {
    border-radius: 50%; border: 0;
    position: absolute; z-index: 1; left: 50%; top: 50%;
    height: 4px; width: 4px;
    background: #939597;
    margin: -2px 0 0 -2px;
    transition: all 0.1s ease-in-out; }
#fp-nav ul li .fp-tooltip {
    position: absolute; top: -7px; left: 25px; width: 0;
    white-space: nowrap; max-width: 220px; overflow: hidden;
    display: block; opacity: 0; cursor: pointer; 
    font-size: 18px; color: #939597;}
#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
    transition: opacity 0.2s ease-in;
    width: auto; opacity: 1;}
.fp-auto-height.fp-section, .fp-auto-height .fp-slide, .fp-auto-height .fp-tableCell{
    height: 30vh !important;}







